@include keyframes(trackingOutContract) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@mixin trackingOutContract($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(trackingOutContract);
	@include count($count);
	@include duration(0.7);
	@include delay($delay);
	@include function(cubic-bezier(0.550, 0.085, 0.680, 0.530));
	@include fill-mode($fill);
	@include visibility($visibility);
}
