// 새로운 애니메이션 추가

/* attention-seekers */
.bounce {
  @include bounce();
}
.flash {
  @include flash();
}
.headShake {
  @include headShake();
}
.heartBeat {
  @include heartBeat();
}
.jello {
  @include jello();
}
.pulse {
  @include pulse();
}
.rubberBand {
  @include rubberBand();
}
.shake {
  @include shake();
}
.swing {
  @include swing();
}
.tada {
  @include tada();
}
.wobble {
  @include wobble();
}

/* background */
.BackgroundColorBottom {
  @include BackgroundColorBottom();
}
.BackgroundColorLeft {
  @include BackgroundColorLeft();
}
.BackgroundColorRight {
  @include BackgroundColorRight();
}
.BackgroundColorTop {
  @include BackgroundColorTop();
}

/* background-move */
.BackgroundMoveBottom {
  @include BackgroundMoveBottom();
}
.BackgroundMoveBottomLeft {
  @include BackgroundMoveBottomLeft();
}
.BackgroundMoveBottomRight {
  @include BackgroundMoveBottomRight();
}
.BackgroundMoveLeft {
  @include BackgroundMoveLeft();
}
.BackgroundMoveRight {
  @include BackgroundMoveRight();
}
.BackgroundMoveTop {
  @include BackgroundMoveTop();
}
.BackgroundMoveTopLeft {
  @include BackgroundMoveTopLeft();
}
.BackgroundMoveTopRight {
  @include BackgroundMoveTopRight();
}

/* bouncing-entrances */
.bounceIn {
  @include bounceIn();
}
.bounceInDown {
  @include bounceInDown();
}
.bounceInLeft {
  @include bounceInLeft();
}
.bounceInRight {
  @include bounceInRight();
}
.bounceInUp {
  @include bounceInUp();
}

/* bouncing-exits */
.bounceOut {
  @include bounceOut();
}
.bounceOutDown {
  @include bounceOutDown();
}
.bounceOutLeft {
  @include bounceOutLeft();
}
.bounceOutRight {
  @include bounceOutRight();
}
.bounceOutUp {
  @include bounceOutUp();
}

/* fading entrances */
.fadeIn {
  @include fadeIn();
}
.fadeInDown {
  @include fadeInDown();
}
.fadeInDownBig {
  @include fadeInDownBig();
}
.fadeInLeft {
  @include fadeInLeft();
}
.fadeInLeftBig {
  @include fadeInLeftBig();
}
.fadeInRight {
  @include fadeInRight();
}
.fadeInRightBig {
  @include fadeInRightBig();
}
.fadeInUp {
  @include fadeInUp();
}
.fadeInUpBig {
  @include fadeInUpBig();
}

/* fading exits */
.fadeOut {
  @include fadeOut();
}
.fadeOutDown {
  @include fadeOutDown();
}
.fadeOutDownBig {
  @include fadeOutDownBig();
}
.fadeOutLeft {
  @include fadeOutLeft();
}
.fadeOutLeftBig {
  @include fadeOutLeftBig();
}
.fadeOutRight {
  @include fadeOutRight();
}
.fadeOutRightBig {
  @include fadeOutRightBig();
}
.fadeOutUp {
  @include fadeOutUp();
}
.fadeOutUpBig {
  @include fadeOutUpBig();
}

/* flippers */
.flip {
  @include flip();
}
.flipInX {
  @include flipInX();
}
.flipInY {
  @include flipInY();
}
.flipOutX {
  @include flipOutX();
}
.flipOutY {
  @include flipOutY();
}

/* lightspeed */
.lightSpeedIn {
  @include lightSpeedIn();
}
.lightSpeedOut {
  @include lightSpeedOut();
}

/* rotaing */
.rotateBottom {
  @include rotateBottom();
}
.rotateBottomLeft {
  @include rotateBottomLeft();
}
.rotateBottomRight {
  @include rotateBottomRight();
}
.rotateCenter {
  @include rotateCenter();
}
.rotateDiagonal1 {
  @include rotateDiagonal1();
}
.rotateDiagonal2 {
  @include rotateDiagonal2();
}
.rotateDiagonalBottomLeft {
  @include rotateDiagonalBottomLeft();
}
.rotateDiagonalBottomRight {
  @include rotateDiagonalBottomRight();
}
.rotateDiagonalTopLeft {
  @include rotateDiagonalTopLeft();
}
.rotateDiagonalTopRight {
  @include rotateDiagonalTopRight();
}
.rotateHorBottom {
  @include rotateHorBottom();
}
.rotateHorCenter {
  @include rotateHorCenter();
}

/* rotating entrances */
.rotateIn {
  @include rotateIn();
}
.rotateInDownLeft {
  @include rotateInDownLeft();
}
.rotateInDownRight {
  @include rotateInDownRight();
}
.rotateInUpLeft {
  @include rotateInUpLeft();
}
.rotateInUpRight {
  @include rotateInUpRight();
}

/* rotating exits */
.rotateOut {
  @include rotateOut();
}
.rotateOutDownLeft {
  @include rotateOutDownLeft();
}
.rotateOutDownRight {
  @include rotateOutDownRight();
}
.rotateOutUpLeft {
  @include rotateOutUpLeft();
}
.rotateOutUpRight {
  @include rotateOutUpRight();
}

/* Scale Down */
.scaleDownBottom {
  @include scaleDownBottom();
}
.scaleDownBottomLeft {
  @include scaleDownBottomLeft();
}
.scaleDownBottomRight {
  @include scaleDownBottomRight();
}
.scaleDownCenter {
  @include scaleDownCenter();
}
.scaleDownHorLeft {
  @include scaleDownHorLeft();
}
.scaleDownHorRight {
  @include scaleDownHorRight();
}
.scaleDownLeft {
  @include scaleDownLeft();
}
.scaleDownRight {
  @include scaleDownRight();
}
.scaleDownTop {
  @include scaleDownTop();
}
.scaleDownTopLeft {
  @include scaleDownTopLeft();
}
.scaleDownTopRight {
  @include scaleDownTopRight();
}

/* Scale entrances */
.scaleInBottom {
  @include scaleInBottom();
}
.scaleInBottomLeft {
  @include scaleInBottomLeft();
}
.scaleInBottomRight {
  @include scaleInBottomRight();
}
.scaleInCenter {
  @include scaleInCenter();
}
.scaleInHorCenter {
  @include scaleInHorCenter();
}
.scaleInHorLeft {
  @include scaleInHorLeft();
}
.scaleInHorRight {
  @include scaleInHorRight();
}
.scaleInLeft {
  @include scaleInLeft();
}
.scaleInRight {
  @include scaleInRight();
}
.scaleInTop {
  @include scaleInTop();
}
.scaleInTopLeft {
  @include scaleInTopLeft();
}
.scaleInTopRight {
  @include scaleInTopRight();
}
.scaleInVerBottom {
  @include scaleInVerBottom();
}
.scaleInVerCenter {
  @include scaleInVerCenter();
}
.scaleInVerTop {
  @include scaleInVerTop();
}

/* Scale exits */
.scaleOutBottom {
  @include scaleOutBottom();
}
.scaleOutBottomLeft {
  @include scaleOutBottomLeft();
}
.scaleOutBottomRight {
  @include scaleOutBottomRight();
}
.scaleOutCenter {
  @include scaleOutCenter();
}
.scaleOutHor {
  @include scaleOutHor();
}
.scaleOutHorLeft {
  @include scaleOutHorLeft();
}
.scaleOutHorRight {
  @include scaleOutHorRight();
}
.scaleOutLeft {
  @include scaleOutLeft();
}
.scaleOutRight {
  @include scaleOutRight();
}
.scaleOutTop {
  @include scaleOutTop();
}
.scaleOutTopLeft {
  @include scaleOutTopLeft();
}
.scaleOutTopRight {
  @include scaleOutTopRight();
}
.scaleOutVer {
  @include scaleOutVer();
}
.scaleOutVerBottom {
  @include scaleOutVerBottom();
}
.scaleOutVerTop {
  @include scaleOutVerTop();
}

/* Scale Up */
.scaleUpBottom {
  @include scaleUpBottom();
}
.scaleUpBottomLeft {
  @include scaleUpBottomLeft();
}
.scaleUpBottomRight {
  @include scaleUpBottomRight();
}
.scaleUpCenter {
  @include scaleUpCenter();
}
.scaleUpHorCenter {
  @include scaleUpHorCenter();
}
.scaleUpHorLeft {
  @include scaleUpHorLeft();
}
.scaleUpHorRight {
  @include scaleUpLeft();
}
.scaleUpRight {
  @include scaleUpRight();
}
.scaleUpTop {
  @include scaleUpTop();
}
.scaleUpTopLeft {
  @include scaleUpTopLeft();
}
.scaleUpTopRight {
  @include scaleUpTopRight();
}
.scaleUpVerBottom {
  @include scaleUpVerBottom();
}
.scaleUpVerCenter {
  @include scaleUpVerCenter();
}
.scaleUpVerTop {
  @include scaleUpVerTop();
}

/* swing */
.SwingTopFwd {
  @include SwingTopFwd(
    $duration:0.4s
  );
}
.SwingTopBack {
  @include SwingTopBack(
    $duration:0.4s
  );
}
.SwingTopRightBack {
  @include SwingTopRightBack();
}
.SwingTopRightFwd {
  @include SwingTopRightFwd();
}
.SwingRightFwd {
  @include SwingRightFwd();
}
.SwingRightBack {
  @include SwingRightBack();
}

/* sliding entrances */
.slideInDown {
  @include slideInDown();
}
.slideInLeft {
  @include slideInLeft();
}
.slideInRight {
  @include slideInRight();
}
.slideInUp {
  @include slideInUp();
}

/* sliding exits */
.slideOutDown {
  @include slideOutDown();
}
.slideOutLeft {
  @include slideOutLeft();
}
.slideOutRight {
  @include slideOutRight();
}
.slideOutUp {
  @include slideOutUp();
}

/* specials */
.hinge {
  @include hinge();
}
.jackInTheBox {
  @include jackInTheBox();
}
.rollIn {
  @include rollIn();
}
.rollOut {
  @include rollOut();
}

/* zooming entrances */
.zoomIn {
  @include zoomIn();
}
.zoomInDown {
  @include zoomInDown();
}
.zoomInLeft {
  @include zoomInLeft();
}
.zoomInRight {
  @include zoomInRight();
}
.zoomInUp {
  @include zoomInUp();
}

/* zooming exits */
.zoomOut {
  @include zoomOut();
}
.zoomOutDown {
  @include zoomOutDown();
}
.zoomOutLeft {
  @include zoomOutLeft();
}
.zoomOutRight {
  @include zoomOutRight();
}
.zoomOutUp {
  @include zoomOutUp();
}

.animated {
  &.infinite {
    @include count(infinite);
  }
  &.delay-1s {
    @include delay(1s);
  }
  &.delay-2s {
    @include delay(2s);
  }
  &.delay-3s {
    @include delay(3s);
  }
  &.delay-4s {
    @include delay(4s);
  }
  &.delay-5s {
    @include delay(5s);
  }
  &.fast {
    @include duration(800ms);
  }
  
  &.faster {
    @include duration(500ms);
  }
  
  &.slow {
    @include duration(2s);
  }
  
  &.slower {
    @include duration(3s);
  }
}

@media (print), (prefers-reduced-motion) {
  .animated {
    animation:unset !important;
    transition: none !important;
  }
}